<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{(itemDetail | async).name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="(itemDetail | async).image"></ion-img>
  <ion-button><ion-icon slot="start" name="heart-outline"></ion-icon>Ajouter aux favoris</ion-button>
  <ion-card>
    <h2>Ajouter un commentaire</h2>
    <form (ngSubmit)="logForm()">
      <ion-item>
        <ion-textarea auto-grow="true" name="commentaire"></ion-textarea>
      </ion-item>
      <ion-button ion-button type="submit">Envoyer</ion-button>
    </form>
  </ion-card>
  <ion-card class="commentaires">
    <p>Commentaires (n):</p>
<!--    <p>{{ (itemDetail | async).commentaires.commentaire }}</p>-->
    <ion-item *ngFor="let commentaire of (itemDetail | async).commentaires">
      <ion-label>
        <p>{{commentaire.commentaire}}</p>
        <br>
      </ion-label>
    </ion-item>

  </ion-card>
</ion-content>
